/*
 * Variables for colors, fonts, animation, etc.
 */
/*
 * Basic styling of HTML & custom elements
 */
html,
body {
  margin: 0;
}

body {
  background-color: #f7f7f7;
}

/*
 * Modifications of HTML & custom elements
 */
@media (min-width: 426px) {
  /*
 * Modifications for larger screens (tablets)
 */
}

@media (min-width: 1023px) {
  /*
 * Modifications for larger screens (desktops)
 */
}
